<footer>
    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted equal height stackable grid">
                <div class="five wide column">
                    <div class="ui inverted link list">
                        <a href="#" class="item">you1nes@live.BE</a><br>
                        <a href="#" class="item">04.89.69.08.32</a><br>
                        <a href="https://github.com/OussamaAouirika/larchedenoe" class="item" target="_blank">GitHub</a>
                    </div>
                </div>
                <div class="eleven wide right aligned bottom aligned column">
                    <h4 class="ui inverted header">© 2020 Football</h4>
                    <p class="smalltext"><a href="https://www.google.be/maps/" target="_blank">Camp nou</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>
